.btn {
  background-color: var(--color-primary-500);
  padding: 1rem 2rem;
  font-weight: bold;
  color: var(--color-neutral-900);
  font-size: 0.86rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.076em;
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: fit-content;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-primary-700);
}

.btn--dark {
  background-color: var(--color-neutral-100);
}

.btn--dark:hover,
.btn--dark:focus {
  background-color: var(--color-neutral-300);
}

.btn--transparent {
  color: var(--color-neutral-100);
  border: solid 1px var(--color-neutral-100);
  background-color: transparent;
}

.btn--transparent:hover,
.btn--transparent:focus {
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-100);
}
