:root {
  /* Colors */
  --color-orange: #d87d4a;
  --color-near-black: #101010;
  --color-gray: #f1f1f1;
  --color-light-gray: #fafafa;
  --color-light-orange: #fbaf85;
  --color-white: #fff;
  --color-black: #000;
  --color-red: red;

  /* Fonts */
  --font-manrope: "Manrope", sans-serif;
}
