:root {
  /* Colors */
  --color-primary-500: #d87d4a;
  --color-primary-700: #fbaf85;
  --color-neutral-0: #000;
  --color-neutral-100: #101010;
  --color-neutral-300: #4c4c4c;
  --color-neutral-700: #f1f1f1;
  --color-neutral-800: #fafafa;
  --color-neutral-900: #fff;
  --color-danger-500: red;

  /* Fonts */
  --font-manrope: "Manrope", sans-serif;
}
