@use "/src/styles/mixins" as *;

.hero {
  background-color: var(--color-near-black);
  padding-top: clamp(7.333rem, 6.316rem + 4.071vi, 8.4rem);
  padding-bottom: clamp(7.333rem, 3.707rem + 14.504vi, 11.133rem);
  color: var(--color-white);
  text-align: center;
  position: relative;
  z-index: 0;
}

.content {
  max-width: 379px;
  margin-inline: auto;
}

.new {
  margin-bottom: 1.06rem;
  opacity: 0.5;
}

.name {
  @include heading-shared;

  line-height: 1.11;
  margin-bottom: 1.6rem;
  font-size: clamp(2.4rem, 1.128rem + 5.089vi, 3.733rem);
}

.desc {
  opacity: 0.75;
  margin-bottom: 2.66rem;
}

.btn {
  margin-inline: auto;
}

.img {
  position: absolute;
  left: 0;
  top: -7rem;
  width: 100%;
  height: calc(100% + 7rem);
  object-fit: cover;
  z-index: -1;
}

@media (width >= 768px) {
  .name {
    @include h1;
  }

  .new {
    margin-bottom: 1.6rem;
  }

  .desc {
    margin-bottom: 2.66rem;
    max-width: 349px;
    margin-inline: auto;
  }

  .img {
    top: -6rem;
    height: calc(100% + 6rem);
  }
}

@media (width >= 1200px) {
  .content {
    margin-left: 0;
    text-align: left;
  }

  .desc,
  .btn {
    margin-left: 0;
  }
}
