@use "/src/styles/mixins" as *;

.cart-item {
  display: flex;
  align-items: center;
}

.img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 1.06rem;
}

.name {
  @include heading-shared;

  font-size: 1rem;
}

.price {
  font-size: 0.93rem;
  color: rgb(var(--color-neutral-0-rgb) / 50%);
}
