@use "/src/styles/mixins" as *;

.checkout-modal {
  background-color: var(--color-neutral-900);
  width: 87.2%;
  max-width: 540px;
  margin-inline: auto;
  margin-top: 2rem;
  border-radius: 8px;
  padding: 2.13rem;
}

.checkmark {
  width: 64px;
  height: 64px;
  margin-bottom: 1.53rem;
}

.title {
  @include heading-shared;

  font-size: clamp(1.6rem, 1.091rem + 2.036vi, 2.133rem);
  margin-bottom: 1.06rem;
  max-width: 284px;
}

.desc {
  opacity: 0.5;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.summary {
  margin-bottom: 1.53rem;
}

.items-summary {
  background-color: var(--color-neutral-700);
  padding: 1.6rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.and-others-text {
  text-align: center;
  border-top: solid 1px rgb(var(--color-neutral-0-rgb) / 8%);
  padding-top: 0.8rem;
  font-size: 0.8rem;
  opacity: 0.5;
}

.price-summary {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-0);
  padding: 1rem 1.6rem 1.26rem;
}

.total {
  @include heading-shared;

  opacity: 0.5;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.53rem;
}

.back-btn {
  width: 100%;
  text-align: center;
}

@media (width >= 768px) {
  .summary {
    display: flex;
  }

  .items-summary {
    flex-basis: 55.5%;
  }

  .price-summary {
    flex-basis: 44.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
