@use "/src/styles/mixins" as *;

.related {
  text-align: center;
}

.title {
  @include heading-shared;

  font-size: clamp(1.6rem, 1.091rem + 2.036vi, 2.133rem);
  margin-bottom: 2.6rem;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 3.73rem;
}

.product-picture {
  display: block;
  margin-bottom: 2.13rem;
}

.product-name {
  @include h5;

  margin-bottom: 2.13rem;
}

.product-btn {
  margin-inline: auto;
}

@media (width >= 768px) {
  .list {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.73rem;
  }
}

@media (width >= 1200px) {
  .list {
    column-gap: 2rem;
  }
}
