.nav--header {
  display: none;
}

.list {
  display: flex;
  column-gap: 2.26rem;
}

.link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.86rem;
  text-decoration: none;
  color: var(--color-white);
  letter-spacing: 0.15em;
  transition: color 300ms;
}

.link:hover,
.link:focus,
.link--active {
  color: var(--color-orange);
}

@media (width >= 1200px) {
  .nav--header {
    display: block;
  }
}
