@use "/src/styles/mixins" as *;

.checkout-form {
  background-color: var(--color-neutral-900);
  padding-block: clamp(1.6rem, 1.218rem + 1.527vi, 2rem);
  padding-inline: 1.6rem;
  border-radius: 8px;
}

.title {
  @include heading-shared;

  font-size: clamp(1.867rem, 1.612rem + 1.018vi, 2.133rem);
  margin-bottom: 2.13rem;
}

.sub-title {
  color: var(--color-primary-500);
  font-size: 0.86rem;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: 1.06rem;
}

.billing-inner,
.shipping-inner,
.payment-method-fieldset-inner,
.e-money-inner {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;
  width: 100%;
}

.billing-inner,
.shipping-inner,
.payment-method-fieldset-inner {
  margin-bottom: 2.1rem;
}

.payment-method-fieldset {
  border: none;
}

.payment-method-legend {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.payment-method-label {
  display: flex;
  border: solid 1px #cfcfcf;
  border-radius: 8px;
  padding: 1.2rem 1.06rem;
  column-gap: 1.06rem;
  font-size: 0.93rem;
  font-weight: bold;
  transition: border-color 300ms;
  cursor: pointer;
}

.payment-method-label:has(.payment-method-input:checked) {
  border-color: var(--color-primary-500);
}

.payment-method-input {
  accent-color: var(--color-primary-500);
}

.cash-on-delivery {
  display: flex;
  column-gap: 2.13rem;
}

.cash-icon {
  width: 48px;
  height: 48px;
}

.cash-text {
  opacity: 0.5;
}

@media (width >= 768px) {
  .checkout-form {
    padding-block: clamp(2rem, 0.473rem + 6.107vi, 3.6rem);
    padding-inline: 1.83rem;
  }

  .billing-inner,
  .shipping-inner,
  .payment-method-fieldset,
  .e-money-inner {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.06rem;
  }

  .address {
    grid-column: 1 / -1;
  }

  .payment-method-fieldset {
    display: grid;
  }
}

@media (width >= 1200px) {
  .checkout-form {
    padding-inline: 3.2rem;
  }

  .billing-inner,
  .shipping-inner {
    margin-bottom: 3.53rem;
  }
}
